# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gmaps
import gmaps.datasets
import requests

# Import API key
from config import weather_api_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=weather_api_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
# file_path = "../weather_database/WeatherPy_database.csv"
vacation_df = pd.read_csv("WeatherPy_vacation-backup.csv")
vacation_df.head()

# Display sample data
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,622,Bar Harbor,US,75.99,clear sky,44.39,-68.20,Atlantic Oceanside Hotel & Event Center
1,144,Bethel,US,77.00,clear sky,41.37,-73.41,Courtyard by Marriott Danbury
2,439,Brigantine,US,86.00,scattered clouds,39.41,-74.36,Legacy Vacation Resort Brigantine Beach
3,179,Broome,US,71.01,clear sky,42.25,-75.83,Chenango Valley State Park
4,604,Benguela,AO,78.80,few clouds,-12.58,13.41,Hotel Praia Morena

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Display sample data
locations.head(10)

     Lat    Lng
0  44.39 -68.20
1  41.37 -73.41
2  39.41 -74.36
3  42.25 -75.83
4 -12.58  13.41
5  -9.54  16.34
6 -15.20  12.15
7  -9.66  20.39
8  -6.13  12.37
9  12.52 -70.03

In [7]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [8]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Georgetown"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Bethel"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Brigantine"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Broome"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bar Harbor"]

In [9]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
201,218,Georgetown,MY,84.2,few clouds,5.41,100.34,Cititel Penang

In [10]:
vacation_df["City"].unique()

array(['Bar Harbor', 'Bethel', 'Brigantine', 'Broome', 'Benguela',
       'Malanje', 'Namibe', 'Saurimo', 'Soyo', 'Oranjestad', 'Bathsheba',
       'Trinidad', 'Alenquer', 'Aracati', 'Arraial Do Cabo',
       'Barao De Melgaco', 'Belmonte', 'Caravelas', 'Cardoso',
       'Carutapera', 'Castro', 'Imbituba', 'Itarema', 'Itiuba',
       'Januaria', 'Maragogi', 'Maua', 'Moju', 'Natal', 'Pauini',
       'Portel', 'Prado', 'Rosario Oeste', 'Salinopolis', 'Santarem',
       'Santo Antonio Da Platina', 'Sao Francisco', 'Terra Santa',
       'Touros', 'Trairi', 'Tucurui', 'Cambridge', 'Torbay', 'Loubomo',
       'Sibiti', 'Tabou', 'Mbalmayo', 'Aksu', 'Bozhou', 'Guilin', 'Hami',
       'Hohhot', 'Jinxiang', 'Kashi', 'Korla', 'Lubu', 'Luoyang',
       'Mingguang', 'Mingshui', 'Shache', 'Tanggu', 'Wuan', 'Wuwei',
       'Xiongzhou', 'Xuanhua', 'Zhangye', 'Zhuhai', 'Cartagena',
       'El Penon', 'Padilla', 'Villagarzon', 'Nicoya', 'Manzanillo',
       'Sao Filipe', 'Steinbach', 'Bani', 'Muisne', 'Puerto Ayora',
       'Haapsalu', 'Kuressaare', 'La Rioja', 'Mao', 'Kuopio', 'Parainen',
       'Havre', 'Saint-Dizier', 'Saint-Francois', 'Semme', 'Barrhead',
       'Liverpool', 'Margate', 'Northam', 'Scarborough', 'Warrington',
       'Grenville', 'Cayenne', 'Anloga', 'Tema', 'Boke', 'Khalki',
       'Bubaque', 'Victoria', 'Azacualpa', 'Bolcske', 'Szihalom',
       'Ambulu', 'Atambua', 'Banda Aceh', 'Banjar', 'Bengkulu',
       'Gondanglegi', 'Japura', 'Katobu', 'Kisaran', 'Kupang', 'Labuhan',
       'Manokwari', 'Meulaboh', 'Paciran', 'Padang', 'Poso', 'Pringsewu',
       'Sabang', 'Sibolga', 'Simpang', 'Ashqelon', 'Gat', 'Dwarka',
       'Hyderabad', 'Itanagar', 'Mangrol', 'Manohar Thana', 'Pondicherry',
       'Porbandar', 'Port Blair', 'Puri', 'Tura', 'Chabahar', 'Langarud',
       'Bisignano', 'Lipari', 'Marsala', 'Vasto', 'Lucea', 'Hirara',
       'Ishigaki', 'Katsuura', 'Muroto', 'Nago', 'Naze', 'Nichinan',
       'Sakaiminato', 'Shimoda', 'Tomigusuku', 'Tottori', 'Butaritari',
       'Kijang', 'West Bay', 'Kuryk', 'Shu', 'Galle', 'Kalmunai',
       'Matara', 'Monrovia', 'Palanga', 'Valdemarpils', 'Benghazi',
       'Sabratah', 'Suluq', 'Ampanihy', 'Antsohihy', 'Mananjary',
       'Miandrivazo', 'Nosy Varika', 'Kanbe', 'Hovd', 'Ulaangom',
       'Nouadhibou', 'Nouakchott', 'Sliema', 'Bambous Virieux',
       'Grand Gaube', 'Mahebourg', 'Quatre Cocos', 'Souillac',
       'Hithadhoo', 'Kulhudhuffushi', 'Muli', 'Acapulco',
       'Cabo San Lucas', 'Casas Grandes', 'Cozumel', 'Escuinapa',
       'Frontera', 'Ojinaga', 'Pochutla', 'Progreso', 'San Patricio',
       'Soto La Marina', 'Tomatlan', 'Bintulu', 'Georgetown', 'Mersing',
       'Angoche', 'Beira', 'Maputo', 'Nacala', 'Nampula', 'Poum', 'Vao',
       'Ikom', 'Raudeberg', 'Risor', 'Alofi', 'Salalah', 'Sur',
       'Huicungo', 'Satipo', 'Atuona', 'Faanui', 'Rikitea', 'Tautira',
       'Teahupoo', 'Tiarei', 'Kandrian', 'Kavieng', 'Lorengau',
       'Namatanai', 'Samarai', 'Dingle', 'Marawi', 'Patawag',
       'Pundaguitan', 'San Pedro', 'Sulangan', 'Keti Bandar', 'Krotoszyn',
       'Suwalki', 'Cascais', 'Lata', 'Mata', 'Ponta Do Sol',
       'Porto Santo', 'Praia Da Vitoria', 'Fuerte Olimpo',
       'Saint-Philippe', 'Saint-Pierre', 'Asau', 'Mihail Kogalniceanu',
       'Sfantu Gheorghe', 'Angarsk', 'Chekhov', 'Khabary', 'Khatanga',
       'Klyuchi', 'Kostomuksha', 'Luga', 'Nikolskoye', 'Novorzhev',
       'Faya', 'Auki', 'Buala', 'Kutum', 'Lulea', 'Mariestad', 'Vetlanda',
       'Bonthe', 'Dakar', 'Diofior', 'Oussouye', 'Bandarbeyla', 'Hobyo',
       'Mogadishu', 'Odweyne', 'Tha Rua', 'Vaini', 'Bucak', 'Eregli',
       'Erzin', 'Mudanya', 'Chake Chake', 'Kibaya', 'Kibondo', 'Mtwara',
       'Berezyne', 'Komsomolsk', 'Strabychovo', 'Busia', 'Kaabong',
       'Burke', 'Clarksburg', 'Corpus Christi', 'Duncanville',
       'Ewa Beach', 'Gainesville', 'Hamilton', 'Havelock', 'Hilo',
       'Jamestown', 'Jefferson City', 'Kahului', 'Kapaa', 'Lakeside',
       'Las Vegas', 'Laurinburg', 'Leisure City', 'Lewiston', 'Lincoln',
       'Lufkin', 'Makakilo City', 'Marshalltown', 'Meadow Lake',
       'Middle Island', 'Middlebury', 'Morehead', 'Mount Pleasant',
       'Nassau', 'Palmer', 'Piney Green', 'Raymondville', 'Rincon',
       'Roma', 'Saint George', 'Sioux Falls', 'Springdale', 'Statesville',
       'Tifton', 'Tooele', 'Westport', 'Calabozo', 'Caraballeda',
       'Guanare', 'La Asuncion', 'Santa Teresa', 'Villa Bruzual',
       'Da Nang', 'Turan', 'Isangel', 'Lakatoro', 'Luganville', 'Sayyan',
       'Dzaoudzi', 'Bredasdorp', 'East London', 'Hermanus',
       'Kruisfontein', 'Plettenberg Bay', 'Port Alfred', 'Port Elizabeth',
       'Richards Bay', 'Kalabo', 'Senanga'], dtype=object)

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [16]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0]
vacation_start['Lng'].to_numpy()[0]

end = vacation_end["Lat"].to_numpy()[0]
vacation_end['Lng'].to_numpy()[0]

stop1 = vacation_stop1["Lat"].to_numpy()[0]
stop1 = vacation_stop1["Lng"].to_numpy()[0]

stop2 = vacation_stop2["Lat"].to_numpy()[0]
stop2 = vacation_stop2["Lng"].to_numpy()[0]

stop3 = vacation_stop3["Lat"].to_numpy()[0]
stop3 = vacation_stop3["Lng"].to_numpy()[0]

In [15]:
start

5.41

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [17]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
BarHarbor_Broome_BarHarbor = gmaps.directions_layer(Bar Harbor, Broome, Bar Harbor, waypoints=[Broome], travel_mode = 'DRIVING' or 'BICYCLING' OR 'WALKING')

# Add the layer to the map
fig.add_layer(BarHarbor_Broome_BarHarbor)

# Display the map

fig

SyntaxError: invalid syntax (2110074325.py, line 6)

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [ ]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [ ]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = # YOUR CODE HERE

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = # YOUR CODE HERE

In [ ]:
# Add a marker layer for each city to the map.
marker_layer = # YOUR CODE HERE

# Define a new figure object
fig = # YOUR CODE HERE

# Add the layer to the map
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE